/* @import url("https://fonts.googleapis.com/css2?family=PT+Serif,wght@1,700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Noto+Sans+JP:wght@500&family=Varela+Round&display=swap");

::-webkit-scrollbar {
  width: 0px;
}

.custom_nav {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 991px) {
  .custom_nav {
    display: flex;
    justify-content: flex-start;
  }
}

/* Navbar End */

.custom_card {
  padding: 0;
  height: 460px;
  width: 330px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.37);
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  font-family: "Abel", sans-serif;
}
.custom_card > h4 {
  font-size: 26px;
  font-weight: 600;
  /* font-family: 'PT Serif', serif;; */
  font-family: "Varela Round", sans-serif;
}
.custom_card > h5 {
  font-family: "Exo 2", sans-serif;
  font-weight: 500;
  /* font-family: 'Noto Sans JP', sans-serif; */
  /* font-family: 'Varela Round', sans-serif; */
  /* font-family: 'PT Serif', serif;; */
  /* font-family: "Varela Round", sans-serif; */
}
.image {
  margin: 17px 0px;
  padding-left: 7px;
}
.image > img {
  height: 180px;
  width: 180px;
  background-size: cover;
  object-fit: cover;
  border-radius: 50%;
  border: 8px solid white;
  position: relative;
  /* top: 160px; */
  left: -10px;
  box-shadow: 0 2px 8px rgb(58, 54, 54);
  /* transform: rotate(-20deg); */
}
.shape {
  height: 50px;
  width: 100%;
}
.shape > img {
  width: 100%;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #fff;
}
.custom_footer > a {
  padding: 3px;
  font-size: 20px;
}
.footer_background {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.651);
  position: relative;
}
.footer_background::before {
  background-image: url(../images/background.png);
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  content: " ";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 100%;
}
thead,
tbody > tr {
  font-size: 15px !important;
}
@media screen and (max-width: 414px) {
  thead,
  tbody > tr > td {
    font-size: 8px !important;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 0 !important;
  }
  .footer > h3 {
    display: flex;
    justify-content: center;
  }
}
input:focus {
  box-shadow: none !important;
  /* border: none ; */
}
